@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
:root{
	--bg: #314259;
    --cell-size:100px;
    --color: #498ca65d;
    --color-set: #4bbce9;
	--count:#db56b8;
    --l: 10px;
	font-family: 'Teko', sans-serif;
}

body{
    margin:0;
	background-color: var(--bg);
}
.title{
	color:white;
	text-align: center;
	height: 5vh;
	margin-top: 20px;
	margin-bottom:-20px;
}
.board{
    width: 100vw;
    height: 60vh;
    display: grid;
    justify-content: center;
    align-content:center;
    justify-items:center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border:1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3){
    border-top:none;
}
.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7){
    border-left:none;
}
.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9){
    border-right:none;
}
.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9){
    border-bottom:none;
}
.cell.x, .cell.circle{
    cursor: not-allowed;
}
.not-allowed{
	cursor: not-allowed;
	pointer-events:none;
}

.board.x .cell:not(.circle):not(.x):hover {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 60% 60%;
	background-repeat: no-repeat;
	background-position: center;
}


.cell:not(.circle).x {
	background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
				linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color-set) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 60% 60%;
	background-repeat: no-repeat;
	background-position: center;
}


.board.circle .cell:not(.circle):not(.x):hover {	
	background: radial-gradient(var(--color) 50%, transparent 50%);
}


.cell:not(.x).circle {
	background: radial-gradient(var(--color-set) 50%, transparent 50%);
}

.winCounts{
	height: 10vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	letter-spacing: 2px;
	font-size: 1.7rem;
}
.winCounts div span{
	color: var(--count);
}
.xWins{
	margin: 25px;
}
.oWins{
	margin:25px;
}

.winning-message {
	height: 20vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.3rem;
	font-family: 'Courier New', Courier, monospace;
	flex-direction: column;
}

#winningMessageText.show {
	display: flex;
}

.winning-message button {
	border-radius: 10px;
	font-size: 1.4rem;
	background-color: var(--bg);
	color:white;
	border: 1px solid white;
	padding: .35em .35em;
	cursor: pointer;
	height: 50px;
	width: 150px;
}

.winning-message button:hover {
	background-color: white;
	color: var(--bg);
	border-color: white;
}
#winningMessageText{
	display: none;
	margin-bottom: 35px;
}
.winning-bg{
	box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 1rem #ce3ea7,
            0 0 0.8rem #ce3ea7,
            0 0 1.8rem #ce3ea7,
            inset 0 0 .8rem #ce3ea7; 
}